
.card__top{
    display: flex;
    gap: 24px;
}
.card__top-img{
    width: 219px;
    height: 237px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card__estimation{
    display: flex;
    margin-top: 9px;
    gap: 8px;
    align-items: start;
}
.card__estimation-text{
    font-weight: 600;
    font-size: 17px;
    color: #838383;
}