.favorite_products{
    margin: 0px 165px;
}
.favorite_products_title{
    font-weight: 600;
    font-size: 20px;
    color: #1c1c27;
    margin-top: 30px;
    margin-bottom: 30px;
}
.favorite_products_null{
    font-weight: 600;
    font-size: 20px;
    color: #1c1c27;
    width: 100vw;
    height: 100vh;
    padding-top: 10%;
    padding-left: 30%;
}