@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-family: 'Montserrat', sans-serif;
}

.footer {
    font-family: var(--font-family), sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 30px 30px 0 0;
    width: 1110px;
    height: 149px;   
    margin: 0 auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 23px 27px 23px 29px;
    margin-top: 150px;
}

.footer_left .footer_logo {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 25px;
    color: #101010;
    margin-right: 97px;
    margin-top: 3px;
}

.footer_nav {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    gap: 174px;
}

.footer_nav__left {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.footer_nav__left p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    color: #000;
}

.footer_nav__right {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.language_switcher {
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
}

.language_switcher p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    color: #101010;
}

.terms_button {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    color: #000;
}

.footer_right {
    display: flex;
    align-items: center;
    gap: 16.5px;
    margin-top: 6px;
}