.wirelessHeadphones{
    position: sticky;
    margin-top: 37px;
}
.title{
    font-weight: 600;
    font-size: 20px;
    color: #838383;
    margin-bottom: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    width: 350px;
    height: 407px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 15px 21px 32px 21px;
}